/* ----------------Jai Shree Krishna----------------- */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: poppins;
  box-sizing: border-box;
}

.App {
  width: 100%;
  background: #000022;
  min-height: 100vh;
}

.navbar {
  background: lightslategrey;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.navbar .logo {
  margin-left: 5%;
}

.logo p {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.navbar button {
  margin-right: 5%;
  border: 1px solid;
  padding: 5px 10px;
  background: #000022;
  color: white;
  border-radius: 7px;
  font-weight: bold;
}

.App .container {
  height: 25vh;
  width: 90%;
  backdrop-filter: blur(25px);
  margin: 100px auto auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: .5px solid #d4d4d4;
  border-radius: 50px;
}

.container .typewriter {
  display: inline-block;
  color: #d6c8cd;
}

.typewriter-text {
  display: inline-block;
  overflow: hidden;
  letter-spacing: 2px;
  animation: typing 5s steps(30), blink .75s step-end infinite;
  white-space: nowrap;
  font-size: 20px;
  font-weight: 700;
  border-right: 4px solid rgb(0, 255, 0);
  box-sizing: border-box;
}


@keyframes typing {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes blink {
  0%, 100% {
    border-color: transparent;
  }

  50% {
    border-color: rgb(0, 255, 0);
  }
}


.loader {
  height: 300px;
  width: 300px;
  margin: auto;
  margin-top: 100px;
  backdrop-filter: blur(65px);
  background-color: rgba(255, 255, 255, 0.164);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: loading 3s linear infinite;
}


.loader .bar {
  height: 250px;
  width: 250px;
  background-color: rgba(218, 218, 218, 0.445);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader .bar p {
  color: #fff;
  font-size: 32px;
  font-weight: bold;
}


@keyframes loading {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(360deg);
  }
}

/* --------------------------User Grids -------------------- */

.grid-container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: auto;
  justify-content: space-evenly;
  align-content: center;
}

.grid-container .content {
  display: flex;
  justify-content: center;
  padding: 10px;
  backdrop-filter: blur(20px);
  margin: 10px;
  background-color: hsla(0, 0%, 100%, .185);
  border: 1px solid hsla(0, 0%, 100%, .212);
}

.content .card {
  width: 95%;
  padding: 20px 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  backdrop-filter: blur(65px);
}

.content .card .avatar_img {
  display: flex;
  padding: 5px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  background-color: #fff;
}

.avatar_img img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.card .userdata {
  margin-top: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.userdata .name {
  font-size: 18px;
  color: rgb(0, 255, 0);
}

.userdata .email {
  color: #fff;
  font-size: 18px;
}

/* -----------Media Queries--------------- */

@media screen and (min-width:992px) {
  .App .container {
    width: 60%;
  }

  .typewriter-text {
    font-size: 50px;
  }

  .grid-container {
    grid-template-columns: auto auto auto;
  }
}